.app {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.btnMinus {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  border-width: 1px solid black;
  cursor: pointer;
  background-color: transparent;
}
.btnPlus {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  border-width: 1px solid black;
  cursor: pointer;
  background-color: transparent;
}
